html, body {
    height: 100%;
    width: 100%;
    margin: 0;
}

.first-wrapper {
    height: auto;
    min-height: calc(100% - 56px)!important;
}

.center-part {
    margin-top: 15px;
    margin-bottom: 10px;
}

.flashes {
    padding-left: 0px!important;
}

.user-profile > * {
    color: white;
    margin-left: 10px;
}

.user-profile:hover {
    color: rgba(255, 255, 255, 0.75);
}

.bg-primary {
    background-color: #003087!important;
}