/* general style for add produts.html and details.html */
.title{
    font-weight: bold;
    font-size: 28px;
}

.basicinfo{
    font-weight: bold;
    font-size: 22px;
}

.container {
    padding: 20px;
}

/* add products */
.image-upload {
    border: 1px dashed #ccc;
    padding: 10px;
}

.preview img {
    width: 100%;
    height: auto;
}

.description-box {
    position: fixed;
}

.form-group {
    margin-bottom: 15px;
}

.action-btns button {
    margin-right: 10px;
}

/* products details */
.seller-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10
}

