{% extends "base.html" %}

{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/style-products.css') }}">

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="image-upload">
                <label for="file-input">
                    <img src="{{ url_for('static', filename='addpic.png') }}" alt="Add photo" class="img-fluid add-photo-btn" width="480px" height="310px">
                </label>
                <input id="file-input" type="file" style="display:none;"/>
                <div id="preview" class="preview"></div>
            </div>
        </div>
        <div class="col-md-6">

            <form id="productForm" action="{{ url_for('product.addproduct') }}" method="POST">

                <div class="form-group">
                    <h1 class="title">Title:</h1>
                    <input type="text" class="form-control" name = "productTitle" id="productTitle" placeholder="Add your product title briefly">
                </div>
                <div class="form-group">
                    <h2 class="basicinfo">Price: </h2> $
                    <input type="number" class="form-control" name = "productPrice" id="productPrice" placeholder="Add price">
                </div>

                <div class="form-group">
                    <h2 class="basicinfo">Condition:</h2>
                    <select class="form-control" name = "productCondition" id="productCondition" aria-placeholder="Choose your condition">
                        <option value="New">New</option>
                        <option value="Used1">Used - Like New</option>
                        <option value="Used2">Used - Good</option>
                        <option value="Used3">Used - Fair</option>
                    </select>
                </div>

                <div class="form-group">
                    <h2 class="basicinfo">Description:</h2>
                    <textarea class="form-control" name="productDescription" id="productDescription" placeholder="Provide information including color, brand, size, type, any imperfections and so on..." rows="4"></textarea>
                </div>
                <!-- addfunction -->
                <div class="form-group action-btns">
                    <button type="button" class="btn btn-secondary" onclick="confirmCancel()" >Cancel</button>
                    <button type="button" class="btn btn-primary" onclick="submitProduct()">Publish</button>
                </div>
            </form>

            <!-- cancel button script -->
            <script>
                function confirmCancel(){
                    var confirmation = confirm('Are you sure you want to quit your editing?');
                    if (confirmation) {
                        window.location.href="/";
                    }
                    // Stay in the original webpage
                }
            </script>

            <!-- submit button script - jump into product details page - need to fix -->
            <script>
                function submitProduct() {
                    var form = document.getElementById('productForm'); 
                    var title = document.getElementById('productTitle').value.trim();
                    var price = document.getElementById('productPrice').value.trim();
                    var condition = document.getElementById('productCondition').value;
                    var description = document.getElementById('productDescription').value.trim();
                    if (!title || !price || !condition || !description) {
                        alert('You need to fill all fields, please check your information :-)');
                        return false; 
                    }
                    form.submit();
                }
            </script>
        </div>
    </div>
</div>



{% endblock %}
