<!DOCTYPE html>
<html>

<head>
    <title>UWA Marketplace</title>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
    <ul class=flashes>
        {% for category, message in messages %}
        <div class="alert alert-{{ category }} " role="alert">
            {{ message }}
        </div>
        {% endfor %}
    </ul>
    {% endif %}
    {% endwith %}
    <link href={{ url_for('static', filename='/css/bootstrap.min.css' ) }} rel="stylesheet">
    <link href={{ url_for('static', filename='/css/all.css' ) }} rel="stylesheet">
    <script src={{ url_for('static', filename='/js/bootstrap.min.js' ) }}></script>
    <script src={{ url_for('static', filename='/js/jquery-3.7.1.min.js' ) }}></script>
    {% block extra_head %}{% endblock %}
</head>

<body>
    <div class="first-wrapper">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
        <!-- Container wrapper -->
        <div class="container-fluid">
            <!-- Navbar brand -->
            <a class="navbar-brand mt-2 mt-lg-0" href="/showcase">
                <h5 class="pt-1">UWA Marketplace</h5>
            </a>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    {% if current_user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="/showcase">Explore</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/mylisting/listings">My Listing</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link" href="/introduction">Introduction</a>
                    </li>
                </ul>
            </div>

            <div class="d-flex user-profile">
                {% if current_user.is_authenticated %}
                    <span>Hi {{ current_user.username }}!</span>
                    <a class="nav-link" href="/auth/logout" >Logout</a>
                {% else %}
                    <a class="nav-link" href="/auth/login" >Sign In</a>
                {% endif %}
            </div>
            <!-- Collapsible wrapper -->
        </div>
        <!-- Container wrapper -->
    </nav>
    <!-- Navbar -->

    <div id="content container-fluid">
        <div class="center-part row mt-3" style="margin-right: auto; margin-left: auto;">
            <div class="col-2"></div>
            <div class="col-8">
                {% block content %}{% endblock %}
            </div>
            <div class="col-2"></div>
        </div>
    </div>
    </div>

    <!-- Footer -->
    <footer class="bg-primary text-center text-white">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            CITS5505 Group Project - UWA Marketplace
        </div>
    </footer>
    <!-- Footer -->
</body>

</html>