{% extends "base.html" %}

{% block extra_head %}
<link href={{ url_for('static', filename='/css/mylisting.css' ) }} rel="stylesheet">
<script src={{ url_for('static', filename='/js/mylisting.js') }}></script>
{% endblock %}

{% block content %}
<div class="subpage row">
    <section class="profile col-3">
        <section id="basic">
            <div class="rounded username-card centered mb-3">
                <h3 class="h2 text-white mb-0">{{ username }}</h3>
            </div>

            <ul class="list-unstyled">
                <li class="mb-2">
                    <span class="h6">Username:</span>
                    <br/>
                    <span>{{ username }}</span> 
                </li>

                <li class="mb-2">
                    <span class="h6">Email:</span>
                    <br/>
                    <span>{{ email }}</span> 
                </li>

                <li class="mb-2">
                    <span class="h6">Created At:</span>
                    <br/>
                    <span>{{ created_at }}</span> 
                </li>
                <li>
                    <!-- TODO change to addproduct later -->
                    <a type="button" class="btn btn-primary" href={{ url_for('product.addproduct') }}>Sell Something</a>
                </li>
            </ul>


        </section>
    </section>
    <div class="listing-list col-9 row">
        {% for listing in listings %}
        <div class="col-sm-6 mb-3 mb-sm-0">
            <div class="card mb-3">
                <div class="card-body">
                    <h5 class="card-title">{% if listing.sold %}<span class="badge text-bg-info">SOLD</span>{% endif %}  {{ listing.title }}</h5>
                    <div class="card-text list-desc">{{ listing.description }}</div>
                    <span>{{ listing.price }} AUD</span>
                    {% if listing.condition == "New" %}
                    <span class="badge text-bg-success">{{ listing.condition }}</span>
                    {% endif %}
                    {% if listing.condition == "Used - Like New" %}
                    <span class="badge text-bg-info">{{ listing.condition }}</span>
                    {% endif %}
                    {% if listing.condition == "Used - Good" %}
                    <span class="badge text-bg-primary">{{ listing.condition }}</span>
                    {% endif %}
                    {% if listing.condition == "Used - Fair" %}
                    <span class="badge text-bg-primay">{{ listing.condition }}</span>
                    {% endif %}
                    <!-- <button type="button" class="btn btn-sm btn-outline-danger c-delete-listing" id="delete-{{listing.id}}">Delete</button> -->
                    {% if not listing.sold %}
                    <button type="button" class="btn btn-sm btn-outline-info float-end mark-sold" listingId="{{listing.id}}">Mark As Sold</button>
                    {% endif %}
                    <a type="button" class="btn btn-sm btn-outline-primary float-end" href={{ url_for("product.edit", listing_id=1 ) }} style="margin-right: 6px;">Edit</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>

<div class="modal fade" id="confirmSold" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5">Confirm Sold?</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Are you sure you want mark it as SOLD?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <input id="toDeleteListingId" value="" hidden />
                <button type="button" class="btn btn-danger" id="btn-yes-sold">I'm Sure, Please.</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}